* {
box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-div {
    width: 500px;
    height: 500px;
}

.screen-display {
    height: 100px ;
    width:  380px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: lightgray;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
    flex-direction: column;
    padding: 7px;
    flex-wrap: wrap;
}

.prev-display {
    font-size: 20px;

}

.current-display {
    font-size: 28px;

}

.button-container {

    display: flex;
    flex-direction: row;
    height: 380px;
    width: 380px; 

}

.number-container {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.operator-container {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number {
    height: 87px;
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: grey;
}

.operator.press {

    background-color: greenyellow;
}

.operator {
        height: 40px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: grey;
}

